@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
a{
    color: unset;
    text-decoration: none;
}
/*=======scrollBar=================*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #353432;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #354332;
    border-radius: 10px;
}
/*=======scrollBar=================*/

/*=======CONTAINER=================*/
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: all .5s ease;
}
.container svg{
    width: 30px;
    cursor: pointer;
}
/*=======CONTAINER=================*/
/*=======HEADER=================*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.title{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
header .icon_cart{
    position: relative;
}
header .icon_cart span{
    background-color: red;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: -20px;
    font-size: 14px;
}
/*=======HEADER=================*/

/*=======list product=================*/
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
.listProduct .item:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
    cursor: pointer;
    transition: .5s ease-out;
}
.listProduct .item:hover img{
    scale: 1.5;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;  
}
.listProduct .item button{
    background-color: #354332;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(107, 97, 97, 0.6);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.listProduct .item button:hover{
    background-color: #272623;
    scale: 1.2;
}
/*=======list product=================*/

/*=======CART TAB====================*/
.cartTab{
    width: 400px;
    background-color: #354332;
    color: white;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: all .5s ease;
}
.listCart .empty_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 70%;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 25px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color: #e8bc0e;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: #eee;
}
.listCart{
    padding: 20px 0;
    overflow-y: auto;
    user-select: none;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}
.cartTab .listCart .item img{
    width: 100%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 0 5px 0 0;
}
.listCart .quantity{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.listCart .quantity span{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.quantity .total_quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity .delete svg{
    stroke: red;
    transition: .3s ease;
}
.quantity .delete svg.hide{
    stroke: rgb(105, 105, 105);
}

.quantity .delete svg:hover{
    stroke: rgb(59, 13, 13);
}

.quantity .minus svg:hover,
.quantity .plus svg:hover
{
    stroke: #d38d00;
}

/*=======CART TAB====================*/


/*=======details page====================*/
.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
    margin-bottom: 20px;
}
.detail .image img{
    width: 100%;
}
.detail .image{
    position: relative;
}
.detail .image::before{
    position: absolute;
    width: 300px;
    height: 300px;
    content: '';
    background-color: #94B17733;
    z-index: -1;
    border-radius: 190px 100px 170px 180px;
    left: calc(50% - 150px);
    top: 50px;
}
.detail .name{
    font-size: xx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
}
.detail .buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    cursor: pointer;
}

.detail .buttons svg{
    width: 20px;
}
.detail .buttons span{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #eee;
    margin-left: 20px;
}
.detail .buttons button:nth-child(2){
    background-color: #353432;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px #2f2f2f77;
    transition: all .3s ease, transform .3s ease-in-out;
}
.detail .buttons button:nth-child(2):hover{
    background-color: #202020;
    transform: scale(1.1);
}
.detail .buttons button:nth-child(1){
    transition: all .5s ease-in-out;
}
.detail .buttons button:nth-child(1):hover{
    box-shadow: 0 10px 20px #2f2f2f77;
    background-color: #385831;
    color: white;
}

.detail .description{
    font-weight: 300;

}
/*=======details page====================*/


@media screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns: 40% 1fr;
    }
}

@media screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    }
    .detail .name{
        font-size: x-large;
        margin: 0;
    }
    .detail .buttons{
        justify-content: center;
    }
    .detail .buttons button{
        font-size: small;
    }
}




